
.form-inline .form-group .file-input {
    display: inline-block;
}

.form-inline .form-group .file-input .file-caption {
    display: none;
}

.form-inline .form-group .btn-file {
    margin-top: 10px;
}

.form-inline .form-group.image label {
    transform: translate(0, -70%);
}

.scrollable{
    overflow-x: scroll;
}

.logo-login {
    width: 250px;
    margin-top: -8px;
}
